<div class="card-group">
  {{#each Plans}}
  <div class="card m-5">
    <div class="card-header">
      <h5 class="card-title">{{name}}</h5>
    </div>
    <div class="card-body">
      <p class="card-text">Start Date: {{startDate}}</p>
      <p class="card-text">End Date: {{endDate}}</p>
      <p class="card-text">Status: {{status}}</p>
      <p class="card-text">Budget: {{budget}}</p>
      <a href="/viewPlan/{{id}}" class="btn btn-outline-secondary mb-2">View this plan</a>
    </div>
  </div>

  {{/each}}
</div>